<!DOCTYPE html>
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>${pageContext.request.userPrincipal.name}</h3>
<sec:authorize access="!isAuthenticated()">
    <h4><a href="/login">Login</a> </h4>
    <h4><a href="/registration">Registration</a> </h4>
</sec:authorize>
<sec:authorize access="isAuthenticated()">
    <h4><a href="/logout">Logout</a> </h4>
</sec:authorize>
<a href="/admin">Users(only for admin)</a>
<a href="/correct">Correct</a>
</body>
</html>